@font-face {
    font-family: jetbrains_mono;
    src: url("../public/font/jetbrainsmono.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: sf_mono;
    src: url('../public/font/sfmono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: jetbrains_mono;
    background-color: #f4f4f4;
    color: #333;
    max-width: 1200px;
    margin: auto;
    font-size: 0.8rem;
}

h1 {
    font-size: 0.8rem;
}

h2 {
    font-size:  0.8rem;
}

p {
    font-size: 0.5rem;
}

header {
    position: absolute;
    top: 0;
    max-width: 1200px;
    padding: 1rem;
}

main {
    padding: 0 1rem;
}


#intro {
    height: 100vh;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.ascii-art {
    max-width: 100%;
    font-family: sf_mono;
    font-size: 0.5rem;
    white-space: pre;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    h1, .ascii-art {
        font-size: 0.8rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1, .ascii-art{
        font-size: 1.2rem;
    }
}